{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I'm Jishnu Phani Perisetti, an enthusiastic Computer Science Engineering student at PES University. My journey is fueled by a passion for growth, both personal and in those around me.<br> <br>

As a motivated coder, I thrive on challenges and consistently strive for perfection in everything I do. My commitment to excellence extends beyond my coding endeavors. When I'm not immersed in lines of code, you can find me at the gym, fueling my energy to excel both mentally and physically.<br> <br>

With a knack for adapting swiftly to new conditions, I love exploring the latest technologies and tools in the world of software development. From tackling complex algorithms to crafting elegant solutions, I'm always excited to explore uncharted territories.<br> <br>

Each day is an opportunity to innovate, learn, and refine my skills further. <br>
I am dedicated to my professional growth, setting aside focused time to immerse myself in the realm of coding. This deliberate practice fuels my passion for pushing boundaries and embracing the ever-evolving landscape of technology.<br> <br>

I derive joy from observing the growth of others and actively participating in their journey by offering support during their moments of adversity. <br> <br>

A cherished message I hold close to my heart, drawn from a recent literary journey, underscores the essence of my professional philosophy: 
True excellence and accomplishment stem from the relentless pursuit of pushing one's boundaries. Embracing the belief that progress thrives beyond the comfort zone, I am inspired to consistently strive for goals that exceed my current capabilities.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
